In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from dataclasses import dataclass

In [17]:
df=pd.read_csv("train.csv")
df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,14337,36,50000,RENT,0.0,HOMEIMPROVEMENT,C,7200,13.85,0.14,Y,15,0
1,17117,27,43200,RENT,3.0,DEBTCONSOLIDATION,C,5000,11.66,0.12,Y,9,0
2,32590,25,70000,MORTGAGE,0.0,EDUCATION,A,8000,7.88,0.11,N,3,0
3,55811,39,75000,MORTGAGE,2.0,DEBTCONSOLIDATION,A,15000,6.54,0.20,N,11,0
4,40120,22,45600,RENT,5.0,MEDICAL,A,4000,7.66,0.09,N,2,0

In [18]:
df["cb_person_default_on_file"].unique()

array(['Y', 'N'], dtype=object)

In [19]:
train_set,test_set=train_test_split(df,test_size=0.2,random_state=42)  #Change this

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46916 entries, 0 to 46915
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          46916 non-null  int64
 1   person_age                  46916 non-null  int64
 2   person_income               46916 non-null  int64
 3   person_home_ownership       46916 non-null  object
 4   person_emp_length           46916 non-null  float64
 5   loan_intent                 46916 non-null  object
 6   loan_grade                  46916 non-null  object
 7   loan_amnt                   46916 non-null  int64
 8   loan_int_rate               46916 non-null  float64
 9   loan_percent_income         46916 non-null  float64
 10  cb_person_default_on_file   46916 non-null  object
 11  cb_person_cred_hist_length  46916 non-null  int64
 12  loan_status                 46916 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 4.7+ MB